/* Style pour le drag and drop */
.item-slot-hoverClass {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid #ffba08 !important;
  transition: all 0.1s ease-in-out;
}

.ui-draggable-dragging {
  transform: scale(0.9);
  opacity: 0.9 !important;
  z-index: 9999 !important;
  box-shadow: 0 0 10px rgba(255, 186, 8, 0.5);
}